{# @var block \App\ValueObject\Random\ImageUrl #}
<table border="0" cellpadding="0" cellspacing="0" class="image_block" role="presentation"
       style="margin-bottom:20px;mso-table-lspace: 0pt; mso-table-rspace: 0pt;" width="100%">
    <tbody>
    <tr>
        <td style="width:100%;padding-right:0px;padding-left:0px;">
            <div align="center" style="line-height:10px">
                <a target="_blank" href="{{ block.content }}">
                    <img src="{{ block.content }}" alt="{{ block.title }}" width="750" />
                </a>
            </div>
        </td>
    </tr>
    </tbody>
</table>
