includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 8
    paths:
        -  %currentWorkingDirectory%/src
        -  %currentWorkingDirectory%/tests
    excludes_analyse:
        - %currentWorkingDirectory%/tests/bootstrap.php
    ignoreErrors:
        - '#Cannot call method (error|info|warning)\(\) on Psr\\Log\\LoggerInterface\|null.#'
    symfony:
        container_xml_path: '%rootDir%/../../../var/cache/dev/App_KernelDevDebugContainer.xml'
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
