<div class="section-color services" id="services">
    <div class="container">
        <div class="columns is-multiline">
            <div
                class="column is-12 about-me"
                data-aos="fade-in"
                data-aos-easing="linear"
            >
                <h1 class="title has-text-centered section-title">Mes répertoires d'image</h1>
                <br/>
            </div>
            {% for directory in directory_image_list %}
                {% set main_image = random_image_from_directory(directory.relativePathName) %}
                {% include './include/image.html.twig' with {'picture': main_image, 'legend': directory.relativePathName} only %}
            {% endfor %}
        </div>
    </div>
</div>
