<div class="section-dark">
    <div class="container">
        <div
            class="column is-12 about-me"
            data-aos="fade-in"
            data-aos-easing="linear"
        >
            <h1 class="title has-text-centered section-title">Données importées</h1>
        </div>
        <div class="columns is-centered is-multiline">
            {% for item in type_listable %}
                <div class="column is-2">
                    <a
                        href="{{ path('list_imported_data_show', {'importedDataType': item.publicKey}) }}"
                        class="button is-primary is-light"
                        title="Voir les données importées : {{ item.publicLabel }}"
                    >
                        {{ item.publicLabel|capitalize }}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
