{% extends './page/base.html.twig' %}
{% block body %}
    <div class="section-light">
        <div class="container">
            <div
                class="column is-12 about-me"
                data-aos="fade-in"
                data-aos-easing="linear"
            >
                <h1 class="title has-text-centered section-title test-holiday">Vacances \o/</h1>
            </div>
        </div>
    </div>
    {% include './dashboard/include/meteo.html.twig' with {newspaper} only %}
    {% include './dashboard/include/random_image.html.twig' with {newspaper} only %}
    {% include './dashboard/include/directory_img.html.twig' with {directory_image_list} only %}
{% endblock %}
