{% extends 'base.html.twig' %}

{% block body %}
    {% for block in newspaper.blocks %}
        {% if show_block is defined and show_block%}
            {% set block_type = convert_to_manager_type(block.managerType).value %}
            <h1>
                <a
                    href="{{ path('test_mail_one', {
                        'blockType': block_type
                    }) }}"
                    title="Voir seulement ce bloc"
                >
                    {{ block_type }}
                </a>
            </h1>
        {% endif %}

        {% include 'email/block/'~block.type.value~'.html.twig' with {block:block} %}
    {% endfor %}
{% endblock %}
