{% macro render_article_type(article) %}
    {% if article.articleType is not null %}
        {% if article.articleType.value is same as constant('App\\ValueObject\\Article\\ArticleTypeEnum::VIDEO') %}
            <span title="vidéo">&#128249;</span>
        {% elseif article.articleType.value is same as constant('App\\ValueObject\\Article\\ArticleTypeEnum::PODCAST') %}
            <span title="podcast">&#127908;</span>
        {% elseif article.articleType.value is same as constant('App\\ValueObject\\Article\\ArticleTypeEnum::LIVRE') %}
            <span title="livre">&#128214;</span>
        {% elseif article.articleType.value is same as constant('App\\ValueObject\\Article\\ArticleTypeEnum::TEXTE') %}
            <span title="article">&#9852;</span>
        {% elseif article.articleType.value is same as constant('App\\ValueObject\\Article\\ArticleTypeEnum::SITE_INTERNET') %}
            <span title="Site internet">&#128376;</span>
        {% elseif article.articleType.value is same as constant('App\\ValueObject\\Article\\ArticleTypeEnum::REPERTOIRE') %}
            <span title="Répertoire de liens">&#128448;</span>
        {% elseif article.articleType.value is same as constant('App\\ValueObject\\Article\\ArticleTypeEnum::IMAGE') %}
            <span title="image">&#128444;</span>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro render_no_concept(article) %}
    {% if not article.hasConcept %}
        <div
            style="display: flex; justify-content: center;margin-top: 5px;border:solid 2px darkred;padding: 2px 0;font-size: 20px">
            <a
                href="https://airtable.com/appY4TYoXjtjua3KD/tblVwxmIM1TchfVnp/viwV095Yh2JIExPq0?blocks=hide"
                title="Créer un concept"
                target="_blank"
                style="color: darkred;font-family: sans-serif;text-decoration: none"
            >
                🤬🤬 Concept à créer 🤬🤬
            </a>
        </div>
    {% endif %}
{% endmacro %}

